footer {
    background: #052933;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #5cd320;
    transition: all .5s ease;
}

footer a:first-child {
    border-left: 1px solid #62e421;
}

footer a:hover {
    color: white;
}